.startUp {
    margin-bottom: 130px;
    padding: 80px 0px 0px 0px;
    @media (max-width: 467.98px) {
        margin-bottom: 50px;
        padding: 20px 0px 0px 0px;
    }
    [class="_container"] {
        position: relative;
    }
}
.title {
    color: #d9e3ea;
    text-align: center;
    font-size: 52px;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: -0.5px;
    max-width: 770px;
    margin: 0 auto;
    &:not(:last-child) {
        margin-bottom: 16px;
    }
    @media (max-width: 467px) {
        font-size: 36px;
        &:not(:last-child) {
            margin-bottom: 12px;
        }
    }
}

.buttons {
    &:not(:first-child) {
        margin-top: 32px;
    }
    &:not(:last-child) {
        margin-bottom: 64px;
    }
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    @media (max-width: 467px) {
        &:not(:first-child) {
            margin-top: 16px;
        }
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }
}
.shape {
    pointer-events: none;
    position: absolute;
    bottom: -60px;
    left: -125px;
    z-index: -1;
    @media (max-width: 467.98px) {
        max-width: 100%;
    }
}
