.title {
    color: #d9e3ea;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    line-height: 1.25;
    letter-spacing: -0.5px;
    max-width: 770px;
    margin: 0 auto;
    @media (max-width: 500px) {
        font-size: 25px;
    }
}
